.movies__container--li {
    color: white;
    list-style-type: none;
    font-size: 12px;
    width: 19em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.movies__container--image {
    display: flex;
    align-items: flex-end;
    border: 1px solid white;
    border-radius: 5px;
    position: relative;
}

.movies__container--image-year {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    border: white 1px solid;
    border-radius: 5px;
    position: absolute;
}

.movies__container--header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.movies__container--header-title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.movies__container--header-assessment {
    font-size: 16px;
    font-weight: bold;
    color: #CB134A;
}