.card {
    display: inline-flex;
    list-style-type: none;
    font-size: 12px;
    /* width: 19em; */
    max-width: 44vw;
    /* margin-right: 1vw; */
    margin-bottom: 1em;
}

.card > a {
    text-decoration: none;
    color: white;
}

.card__figure {
    display: flex;
    align-items: flex-end;
    border-radius: 5px;
    position: relative;
}

.card__figure--year {
    display: flex;
    background-color: rgba(48, 48, 48, 0.5);
    margin: 1em;
    padding: 0.25em 0.5em;
    justify-content: center;
    align-items: center;
    border: white 1px solid;
    border-radius: 5px;
    position: absolute;
}

.card__header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.card__title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card__assessment {
    font-size: 16px;
    font-weight: bold;
    color: #CB134A;
}